<?xml version="1.0" encoding="UTF-8" ?>
<Module>
  <!-- Last updated 12/6/2006 -->
  <ModulePrefs title="Random Flickr Effect" title_url="http://www.therandomhomepage.com"
			   height="350"
               author="Siddique Hameed"
               description="Flip through or view slideshow of random images from Flickr with amazing visual effects. Click on the image to view lightbox effect."
               author_email="siddii+randomhomepage@gmail.com"
               render_inline="optional"
               scrolling="false"
               thumbnail="http://www.therandomhomepage.com/google/gadget/images/thumbnail.png"
               screenshot="http://www.therandomhomepage.com/google/gadget/images/screenshot.png"
          >
  </ModulePrefs>
  <UserPref name="tags" display_name="Tags (comma separated)" required="true" datatype="string" default_value="colorful,travel,nature"/>
  <UserPref name="transition_effect" display_name="Transition effect" datatype="enum" default_value="0">
   <EnumValue display_value="None"  value="-1" />
   <EnumValue display_value="Random"  value="0" />
   <EnumValue display_value="Blindown "  value="1" />
   <EnumValue display_value="Highlight"  value="2" />
   <EnumValue display_value="Shake"  value="3" />
   <EnumValue display_value="Pulsate"  value="4" />
   <EnumValue display_value="Grow"  value="5" />
   <EnumValue display_value="Slidedown"  value="6" />
   </UserPref>
  <UserPref name="slideshow_delay" display_name="Slideshow delay (in seconds)" datatype="enum" default_value="0">
   <EnumValue display_value="No slideshow"  value="0" />
   <EnumValue value="5" />
   <EnumValue value="10" />
   <EnumValue value="15" />
   <EnumValue value="20" />
   <EnumValue value="25" />
   <EnumValue value="30" />
   <EnumValue value="35" />
   <EnumValue value="40" />
   <EnumValue value="45" />
   <EnumValue value="50" />
   <EnumValue value="55" />
   <EnumValue value="60" />
</UserPref>
<UserPref name="image_click_behaviour" display_name="On Image Click" datatype="enum" default_value="0">
	<EnumValue display_value="Lightbox Effect"  value="0" />
	<EnumValue display_value="Open Original Image"  value="1" />
	<EnumValue display_value="Open Flickr link"  value="2" />
</UserPref>

<Content type="html-inline">
  <![CDATA[
	<script type="text/javascript" src="http://www.therandomhomepage.com/js/prototype.js"></script>
	<script type="text/javascript" src="http://www.therandomhomepage.com/js/effects.js"></script>
	<script type="text/javascript" src="http://www.therandomhomepage.com/js/lightbox_s.js"></script>
	<link rel="stylesheet" href="http://www.therandomhomepage.com/css/lightbox.css" type="text/css" media="screen" />
	<style type="text/css">
		img {
			border-style: none;
			cursor: pointer;
		}

		#divRandomFlickrControl {
			cursor: pointer;
			color: darkblue;
			font-weight: bold;
		}

		#divRandomFlickrHeader {
			color: black;
			font-weight: bold;
			text-align: center;
		}
		#divRandomFlickrContent {
			text-align: center;
		}

	</style>
	<script type="text/javascript">

	var prefs = new _IG_Prefs(__MODULE_ID__);

	var rssFeedArr = new Array();

	var prevIdx = -1;

	var controlElement = null;

	var shouldBeRunning = true;

	var TRANSITION_EFFECT_NONE   = -1;
	var TRANSITION_EFFECT_RANDOM =  0;
	var TRANSITION_EFFECT_BLINDOWN = 1;
	var TRANSITION_EFFECT_HIGHLIGHT = 2;
	var TRANSITION_EFFECT_SHAKE = 3;
	var TRANSITION_EFFECT_PULSATE = 4;
	var TRANSITION_EFFECT_GROW = 5;
	var TRANSITION_EFFECT_SLIDEDOWN = 6;

	var RssFeed = Class.create();

	RssFeed.prototype = {

	   initialize: function(idx,title,link,desc,contentURL,thumbnailURL) {
			this.idx = idx;
			this.title = title;
			this.link = link;
			this.desc = desc;
			this.contentURL = contentURL;
			this.thumbnailURL = thumbnailURL;
	   },

	   getImage:function() {
		  var imgHTML =  "<a title='"+this.title+"' target='_new' id='lightboxAnc"+this.idx+"' style='display: none;' ";

		  if (prefs.getInt("image_click_behaviour") == 2) {
			imgHTML += " href='"+this.link+"' ";
		  }
		  else {
			imgHTML += " href='"+this.contentURL+"' ";
		  }

		  if (prefs.getInt("image_click_behaviour") == 0)
		  {
			imgHTML += " rel='lightbox["+prefs.getString("tags")+"]' ";
		  }

		  if (prefs.getInt("slideshow_delay") > 0)
		  {
				imgHTML += " startslideshow='true' slideDuration='"+prefs.getInt("slideshow_delay")+"' forever='true' ";
		  }
		  else {
			imgHTML += " startslideshow='false' ";
		  }
		  imgHTML += " >"+extractBetween(this.desc,"<img",">")+"</a>";
		  return imgHTML;
	   },

	   getTitle:function() {
		  return this.title;
	   }

	};

	function getRandomNo(upperBound){
	  return Math.floor(Math.random() * upperBound);
	}

	function xmlResponseHandler(response) {
		var items = response.getElementsByTagName("item");
		var nodes = $A(items);
		var i = 0;
		nodes.each(function(itemNode){
				var title = getChildNodeValueByNodeName(itemNode,"title");
				var link = getChildNodeValueByNodeName(itemNode,"link");
				var desc = getChildNodeValueByNodeName(itemNode,"description");
				var content = getChildNodeByNodeName(itemNode,"media:content").getAttribute("url");
				var thumbnail = getChildNodeByNodeName(itemNode,"media:thumbnail").getAttribute("url");
				rssFeedArr[i] = new RssFeed(i,title,link,desc,content,thumbnail);
				i++;
	    });

		if (nodes.length > 0)
		{

			var lightboxHTML = "";
			rssFeedArr.each( function(rssFeed){
				lightboxHTML += rssFeed.getImage();
			});


			var divContent = $('divRandomFlickrContent');

			if (divContent)
			{
				Element.update(divContent,lightboxHTML);
			}

			if (prefs.getInt("image_click_behaviour") == 0)
			{
				Element.remove("overlay");
				Element.remove("lightbox");
				initLightbox();
			}

			showRandomFlickrImage();

			controlElement = $('divRandomFlickrControl');
			if (prefs.getInt("slideshow_delay") > 0)
			{
				new PeriodicalExecuter(showRandomFlickrImage, prefs.getInt("slideshow_delay"));
				Element.update(controlElement,"<img src='http://www.therandomhomepage.com/images/lightbox/stop.gif' onclick='stopSlideShow();' title='Stop Slideshow'/>");

				$(divRandomFlickrContent).onclick = stopSlideShow;
			}
			else {
				Element.update(controlElement,"&gt;&gt;");
				controlElement.title = "Next Random Image";
				controlElement.onclick = function() {
					showRandomFlickrImage();
				}
			}
		}
	}

	function showRandomFlickrImage(){
		if (shouldBeRunning)
		{
			if (prevIdx > -1)
			{
				var prevAnchorElement = $('lightboxAnc'+prevIdx);
				Element.hide(prevAnchorElement);
			}

			var randIdx = getRandomNo(rssFeedArr.length);
			var ancElem = $('lightboxAnc'+randIdx);
			if (ancElem)
			{
				$("divRandomFlickrHeader").innerHTML = rssFeedArr[randIdx].getTitle();
				Element.show(ancElem);
				applyEffect($("divRandomFlickrContent"),prefs.getInt("transition_effect"));
				prevIdx = randIdx;
			}
		}
	}

	function callBackOnFinish(obj){
		try
		{
		   for(var i in obj.effects){
			 if (!Element.visible(obj.effects[i]['element']))
			 {
				Element.show(obj.effects[i]['element']);
			 }
		   }
		}
		catch (e)
		{
		}
    }

	function applyEffect(element, effectsConstant){
		switch(effectsConstant){
			case TRANSITION_EFFECT_RANDOM:
				applyEffect(element,getRandomNo(TRANSITION_EFFECT_SLIDEDOWN));
				break;
			case TRANSITION_EFFECT_BLINDOWN:
				new Effect.BlindDown(element,{afterFinish: callBackOnFinish});
				break;
			case TRANSITION_EFFECT_HIGHLIGHT:
				new Effect.Highlight(element,{afterFinish: callBackOnFinish});
				break;
			case TRANSITION_EFFECT_SHAKE:
				new Effect.Shake(element,{afterFinish: callBackOnFinish});
				break;
			case TRANSITION_EFFECT_PULSATE:
				new Effect.Pulsate(element,{afterFinish: callBackOnFinish});
				break;
			case TRANSITION_EFFECT_GROW:
				new Effect.Grow(element,{afterFinish: callBackOnFinish});
				break;
			case TRANSITION_EFFECT_SLIDEDOWN:
				new Effect.SlideDown(element,{afterFinish: callBackOnFinish});
				break;
		}
	}

	function getChildNodeValueByNodeName(node,nodeNameStr){
		var nodeList = node.childNodes;
		 for (var j = 0; j < nodeList.length ; j++) {
			var node = nodeList.item(j);
			if (node.nodeName == nodeNameStr && node.firstChild)
			{
				return node.firstChild.nodeValue;
			}
		 }
	}

	function getChildNodeByNodeName(node,nodeNameStr){
		var nodeList = node.childNodes;
		 for (var j = 0; j < nodeList.length ; j++) {
			var node = nodeList.item(j);
			if (node.nodeName == nodeNameStr)
			{
				return node;
			}
		 }
	}


	function extractBetween(str,startsWith,endsWith) {
		var startIdx =  str.indexOf(startsWith);
		if (startIdx != -1)
		{
			var endIdx = str.indexOf(endsWith,startIdx);
			if (endIdx != -1)
			{
				return str.substring(startIdx,endIdx+1);
			}
		}
		return "";
	}

	function stopSlideShow(){
		if (shouldBeRunning)
		{
			Element.update(controlElement,"<img src='http://www.therandomhomepage.com/images/lightbox/start.gif' onclick='startSlideShow();' title='Start Slideshow'/>");
			shouldBeRunning = false;
		}
	}

	function startSlideShow(){
		if (!shouldBeRunning)
		{
			Element.update(controlElement,"<img src='http://www.therandomhomepage.com/images/lightbox/stop.gif' onclick='stopSlideShow();' title='Stop Slideshow'/>");
			shouldBeRunning = true;
		}
	}

	function randomFlickrLoad(){
		var flickrFeedURL = "http://www.flickr.com/services/feeds/photos_public.gne?tags="+prefs.getString("tags")+"&format=rss_200";
		_IG_FetchXmlContent(flickrFeedURL,xmlResponseHandler);
	}

    _IG_RegisterOnloadHandler(randomFlickrLoad);

    </script>
	<table width="100%"><tr><td><div id="divRandomFlickrHeader"></div></td><td align="right" valign="top"><div id="divRandomFlickrControl"></div></td></tr>
	<tr colspan="2"><td><div id="divRandomFlickrContent"><center><I>Loading...</I></center></div></td></tr>
	</table>
  ]]>
  </Content>
</Module>