body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 0px;
}

table {
    width: 100%;
    text-align:center;
}

a {
    color: darkblue;
}

a:visited {
    color: darkblue;
}

img {
    border-style: none;
    cursor: pointer;
}

.arrow {
    width:5%;
    cursor: pointer;
    color: darkblue;
    font-weight: bold;
    text-align: right;
}

.header {
    width:95%;
    color: black;
    text-align: center;
}

.errorMessage {
    font-style: italic;
}

