<?xml version="1.0" encoding="UTF-8" ?>
<Module>
  <!-- Last updated 12/6/2006 -->
  <ModulePrefs title="Random Flickr Effect" title_url="http://www.therandomhomepage.com"
			   height="350"
               author="Siddique Hameed"
               description="Flip through or view slideshow of random images from Flickr with amazing visual effects. Click on the image to view lightbox effect."
               author_email="siddii+randomhomepage@gmail.com"
               render_inline="optional"
               scrolling="false"
               thumbnail="http://www.therandomhomepage.com/google/gadget/images/thumbnail.png"
               screenshot="http://www.therandomhomepage.com/google/gadget/images/screenshot.png"
          >
  </ModulePrefs>
  <UserPref name="tags" display_name="Tags (comma separated values)" required="true" datatype="string" default_value="colorful"/>
  <UserPref name="transition_effect" display_name="Transition effect" datatype="enum" default_value="0">
   <EnumValue display_value="None"  value="-1" />
   <EnumValue display_value="Random"  value="0" />
   <EnumValue display_value="Blindown "  value="1" />
   <EnumValue display_value="Blindup "  value="2" />
   <EnumValue display_value="Highlight"  value="3" />
   <EnumValue display_value="Dropout"  value="4" />
   <EnumValue display_value="Shake"  value="5" />
   <EnumValue display_value="Pulsate"  value="6" />
   <EnumValue display_value="Squish"  value="7" />
   <EnumValue display_value="Fold"  value="8" />
   <EnumValue display_value="Grow"  value="9" />
   <EnumValue display_value="Shrink"  value="10" />
   <EnumValue display_value="Puff"  value="11" />
   <EnumValue display_value="Slidedown"  value="12" />
   <EnumValue display_value="Slideup"  value="13" />
   <EnumValue display_value="Fade"  value="14" />
   </UserPref>
  <UserPref name="slideshow_delay" display_name="Slideshow delay" datatype="enum" default_value="0">
   <EnumValue display_value="No slideshow"  value="0" />
   <EnumValue value="5" />
   <EnumValue value="10" />
   <EnumValue value="15" />
   <EnumValue value="20" />
   <EnumValue value="25" />
   <EnumValue value="30" />
   <EnumValue value="35" />
   <EnumValue value="40" />
   <EnumValue value="45" />
   <EnumValue value="50" />
   <EnumValue value="55" />
   <EnumValue value="60" />
</UserPref>

<Content type="html-inline">
  <![CDATA[
	<script type="text/javascript" src="http://www.therandomhomepage.com/js/prototype.js"></script>
	<script type="text/javascript" src="http://www.therandomhomepage.com/js/effects.js"></script>
	<script type="text/javascript" src="http://www.therandomhomepage.com/js/lightbox_s.js"></script>
	<link rel="stylesheet" href="http://www.therandomhomepage.com/css/lightbox.css" type="text/css" media="screen" />
	<style type="text/css">
		img {
			border-style: none;
			cursor: pointer;
		}

		.arrow {
			cursor: pointer;
			color: darkblue;
			font-weight: bold;
			/*text-align: right;*/
		}

		.header {
			color: black;
			font-weight: bold;
			text-align: center;
		}
		#divRandomFlickrContent {
			text-align: center;
		}

	</style>
	<script type="text/javascript">

	var prefs = new _IG_Prefs(__MODULE_ID__);

	var rssFeedArr = new Array();

	var prevIdx = -1;

	var RssFeed = Class.create();

	RssFeed.prototype = {

	   initialize: function(idx,title,link,desc,contentURL,thumbnailURL) {
			this.idx = idx;
			this.title = title;
			this.link = link;
			this.desc = desc;
			this.contentURL = contentURL;
			this.thumbnailURL = thumbnailURL;
	   },

	   getImage:function() {
		  var imgHTML =  "<A title='"+this.title+"' id='lightboxAnc"+this.idx+"' style='display: none;' rel='lightbox["+prefs.getString("tags")+"]' href='"+this.contentURL+"' ";
		  if (prefs.getInt("slideshow_delay") > 0)
		  {
				imgHTML += " startslideshow='true' slideDuration='"+prefs.getInt("slideshow_delay")+"' forever='true' ";
		  }
		  else {
			imgHTML += " startslideshow='false' ";
		  }
		  imgHTML += " >"+extractBetween(this.desc,"<img",">")+"</A>";
		  return imgHTML;
	   },

	   getTitle:function() {
		  return this.title;
	   }

	};

	function getRandomNo(upperBound){
	  return Math.floor(Math.random() * upperBound);
	}

	function xmlResponseHandler(response) {
		var items = response.getElementsByTagName("item");
		var nodes = $A(items);
		var i = 0;
		nodes.each(function(itemNode){
				var title = getChildNodeValueByNodeName(itemNode,"title");
				var link = getChildNodeValueByNodeName(itemNode,"link");
				var desc = getChildNodeValueByNodeName(itemNode,"description");
				var content = getChildNodeByNodeName(itemNode,"media:content").getAttribute("url");
				var thumbnail = getChildNodeByNodeName(itemNode,"media:thumbnail").getAttribute("url");
				rssFeedArr[i] = new RssFeed(i,title,link,desc,content,thumbnail);
				i++;
	    });

		if (nodes.length > 0)
		{

			var lightboxHTML = "";
			rssFeedArr.each( function(rssFeed){
				lightboxHTML += rssFeed.getImage();
			});


			var divContent = _gel("divRandomFlickrContent");

			if (divContent)
			{
				Element.update(divContent,lightboxHTML);
			}

			Element.remove("overlay");
			Element.remove("lightbox");

			initLightbox();

			showRandomFlickrImage();

			if (prefs.getInt("slideshow_delay") > 0)
			{
				new PeriodicalExecuter(showRandomFlickrImage, prefs.getInt("slideshow_delay"));
			}
			else {
				var arrowElement = _gel("arrow__MODULE_ID__");
				arrowElement.innerHTML = "&gt;&gt;";
				arrowElement.onclick = function() {
					showRandomFlickrImage();
				}
			}
		}
	}

	function showRandomFlickrImage(){

		if (prevIdx > -1)
		{
			var prevAnchorElement = $('lightboxAnc'+prevIdx);
			Element.hide(prevAnchorElement);
		}

		var randIdx = getRandomNo(rssFeedArr.length);
		var ancElem = _gel('lightboxAnc'+randIdx);
		if (ancElem)
		{
			Element.show(ancElem);
			_gel("header__MODULE_ID__").innerHTML = rssFeedArr[randIdx].getTitle();
			prevIdx = randIdx;
		}

	}

	function getChildNodeValueByNodeName(node,nodeNameStr){
		var nodeList = node.childNodes;
		 for (var j = 0; j < nodeList.length ; j++) {
			var node = nodeList.item(j);
			if (node.nodeName == nodeNameStr && node.firstChild)
			{
				return node.firstChild.nodeValue;
			}
		 }
	}

	function getChildNodeByNodeName(node,nodeNameStr){
		var nodeList = node.childNodes;
		 for (var j = 0; j < nodeList.length ; j++) {
			var node = nodeList.item(j);
			if (node.nodeName == nodeNameStr)
			{
				return node;
			}
		 }
	}


	function extractBetween(str,startsWith,endsWith) {
		var startIdx =  str.indexOf(startsWith);
		if (startIdx != -1)
		{
			var endIdx = str.indexOf(endsWith,startIdx);
			if (endIdx != -1)
			{
				return str.substring(startIdx,endIdx+1);
			}
		}
		return "";
	}

	function randomFlickrLoad(){
		var flickrFeedURL = "http://www.flickr.com/services/feeds/photos_public.gne?tags="+prefs.getString("tags")+"&format=rss_200";
		_IG_FetchXmlContent(flickrFeedURL,xmlResponseHandler);
	}

    _IG_RegisterOnloadHandler(randomFlickrLoad);

    </script>
	<table width="100%"><tr><td><div id="header__MODULE_ID__" class="header"></div></td><td align="right" valign="top"><div id="arrow__MODULE_ID__" class="arrow"></div></td></tr>
	<tr colspan="2"><td><div id="divRandomFlickrContent"><center><I>Loading...</I></center></div></td></tr>
	</table>
  ]]>
  </Content>

</Module>