<?xml version="1.0" encoding="UTF-8" ?>
<Module>
    <ModulePrefs title="Google News Bar" title_url="http://www.TheRandomHomepage.com"
                 description="Keep up to minute with the latest headlines using this Google News Bar gadget (based on Google AJAX search API). Add the search terms of your interest and view them as vertical or horizontal newsbars." author="Siddique Hameed"
                 author_email="siddii+randomhomepage@gmail.com" thumbnail="http://news.google.com/images/news.gif"
                 screenshot="http://www.therandomhomepage.com/google/gadgets/GoogleNewsBar/GoogleNewsBarScreenShot.png"
                 author_affiliation="http://www.boxysystems.com"
                 author_location = "Ann Arbor, MI"
                 author_photo = "http://www.therandomhomepage.com/images/author.jpg"
                 author_aboutme = "I am an aspiring entrepreneur who fell in love in the craft of building software since my early age. Still searching for the perfect click of my life..."
                 author_link = "http://blogs.boxysystems.com"
                 author_quote = "World Wide Web is a sea of HTML, you never know what you gonna catch!"                        
            >
        <Require feature="dynamic-height"/>
		<Require feature="analytics" />
    </ModulePrefs>
    <UserPref name="displayMode" display_name="Display Mode" default_value="horizontal" datatype="enum" required="true">
        <EnumValue value="horizontal"/>
        <EnumValue value="vertical"/>
    </UserPref>
    <UserPref name="cycleMode" display_name="Cycle Mode" default_value="random" datatype="enum" required="true">
        <EnumValue value="linear"/>
        <EnumValue value="random"/>
    </UserPref>
    <UserPref name="searchTerms" display_name="Search Terms" datatype="list"
              default_value="World|US|Business|Sports|Entertainment" required="true"/>
    <Content type="html"><![CDATA[
  <div id="newsBar-bar">
    <span style="color:#676767;font-size:11px;margin:10px;padding:4px;">Loading...</span>
  </div>
  <script src="http://www.google.com/uds/api?file=uds.js&v=1.0&source=uds-nbw&key=ABQIAAAAz7gqGHuMepB_MC7jq_kQDhSwJKRWoKVleCV2sMfWVbuGh5-GoxSIsQrfSBeMogSCyBzH3o6iEJaDxA"
    type="text/javascript"></script>
  <style type="text/css">
    @import url("http://www.google.com/uds/css/gsearch.css");
  </style>
  <!-- News Bar Code and Stylesheet -->
  <script type="text/javascript">
    window._uds_nbw_donotrepair = true;
  </script>
  <script src="http://www.google.com/uds/solutions/newsbar/gsnewsbar.js?mode=new"
    type="text/javascript"></script>
  <style type="text/css">
    @import url("http://www.google.com/uds/solutions/newsbar/gsnewsbar.css");
  </style>

  <script type="text/javascript">
    var prefs = new _IG_Prefs(__MODULE_ID__);
    function LoadNewsBar() {
      var newsBar;
	   var search_terms = prefs.getArray("searchTerms");

	   var cycleModePref = GSnewsBar.CYCLE_MODE_RANDOM;
	   if (prefs.getString("cycleMode") == "linear")
	   {
			cycleModePref = GSnewsBar.CYCLE_MODE_LINEAR;
	   }

	   var horizontalMode = true;
	   if (prefs.getString("displayMode") == "vertical")
	   {
			horizontalMode = false;
	   }
      var options = {
        largeResultSet : false,
        title : "In the news",
		resultStyle : GSnewsBar.RESULT_STYLE_EXPANDED,
        horizontal : horizontalMode,
		cycleMode: cycleModePref,
		linkTarget : GSearch.LINK_TARGET_BLANK,
		currentResult : document.getElementById("newsBar-bar"),
        autoExecuteList : {
		  executeList : search_terms
        }
      }

      newsBar = new GSnewsBar(document.getElementById("newsBar-bar"), options);

    }

	function loadModule() {
		LoadNewsBar();
		_IG_AdjustIFrameHeight();
		_IG_Analytics("UA-941159-1", "/GoogleNewsBar");
	}
	GSearch.setOnLoadCallback(loadModule);
  </script>
 ]]>
    </Content>
</Module>