body {
    font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
}

b {
    font-weight: bold;
}

.codeSnippetHeader {
    font-size:1em;
    text-align:right;
    font-weight:bold;
}

.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { color: rgb(0,0,128); font-weight: bold; }
.s1 { }
.s2 { color: rgb(128,128,128); font-style: italic; }
.s3 { color: rgb(0,128,0); font-weight: bold; }

.codeSnippet{
    font-size:1em;
    text-align:left;
}

img {
    border: none;
}

.multipleImage {
    height: 150px;
    width: 150px;
    margin: 5px;
}

.gwt-Label {
    font-weight: bold;
    font-size: large;
}

.gwt-TabPanel {
}

.gwt-TabPanelBottom {
    border-left: 1px solid #87B3FF;
}

.gwt-TabBar {
    background-color: #C3D9FF;
    font-size: smaller;
}

.gwt-TabBar .gwt-TabBarFirst {
    height: 100%;
    border-bottom: 1px solid #87B3FF;
    padding-left: 3px;
}

.gwt-TabBar .gwt-TabBarRest {
    border-bottom: 1px solid #87B3FF;
    padding-right: 3px;
}

.gwt-TabBar .gwt-TabBarItem {
    border-top: 1px solid #C3D9FF;
    border-bottom: 1px solid #87B3FF;
    padding: 2px;
    cursor: pointer;
    cursor: hand;
}

.gwt-TabBar .gwt-TabBarItem-selected {
    font-weight: bold;
    background-color: #E8EEF7;
    border-top: 1px solid #87B3FF;
    border-left: 1px solid #87B3FF;
    border-right: 1px solid #87B3FF;
    border-bottom: 1px solid #E8EEF7;
    padding: 2px;
    cursor: default;
}
