body {
    font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
    font-size:0.9em;
}

b {
    font-weight: bold;
}

.borderBottom {
    border-bottom:#333 dotted 1px;
    text-decoration:none;
}

h3 {
    font-size:0.9em;
    text-align:left;
    /*font-weight:bold;*/
}

ol{
    text-align:left;
}

.setupFrame{
    border:0;
    height:500px;
    width:500px;
}

pre, code {
  font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
  color:midnightblue;
  font-size: 90%;
  text-align:left;
}

pre {
  border: 1px solid silver;
  background-color: #f5f5f5;
  padding: 0.5em;
  margin: 2em;
  width:75%;      
}

.gwt-Image {
   height:250px;
   width:250px;     
}

.codeSnippet{
    font-size:1em;
    text-align:left;
}

img {
    border: none;
}

.imageset {
    height: 150px;
    width: 150px;
    margin: 5px;
}

.gwt-Label {
    font-weight: bold;
    font-size: 1.0em;
}

.gwt-TabPanel {
}

.gwt-TabPanelBottom {
    border-left: 1px solid #87B3FF;
}

.gwt-TabBar {
    background-color: #C3D9FF;
    font-size: smaller;
}

.gwt-TabBar .gwt-TabBarFirst {
    height: 100%;
    border-bottom: 1px solid #87B3FF;
    padding-left: 3px;
}

.gwt-TabBar .gwt-TabBarRest {
    border-bottom: 1px solid #87B3FF;
    padding-right: 3px;
}

.gwt-TabBar .gwt-TabBarItem {
    border-top: 1px solid #C3D9FF;
    border-bottom: 1px solid #87B3FF;
    padding: 2px;
    cursor: pointer;
}

.gwt-TabBar .gwt-TabBarItem-selected {
    font-weight: bold;
    background-color: #E8EEF7;
    border-top: 1px solid #87B3FF;
    border-left: 1px solid #87B3FF;
    border-right: 1px solid #87B3FF;
    border-bottom: 1px solid #E8EEF7;
    padding: 2px;
    cursor: default;
}
